/* commend */
.glyphicon {
    font-size: 1.2em;
    float: right;
}
.wrap {
    width: 960px;
    height: 850px;
    margin-bottom: 100px;
    padding-top: 100px;
}
.wrap hr {
    margin-top: 30px;
    border-top:1px solid #c3c1c1;
}
.content {
    float: left;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.per-content {
    float: left;
    margin-top: 10px;
    width: 98%;
    border-bottom: 1px solid gray;
}
.content_title {
    float: left;
    width: 90%;
    height: auto;
    margin-left: 20px;
}
.content_title a {
    margin-top: 10px;
    color: #259;
    font-size: 18px;
    float: left;
    width: auto;
}
.content_title a:hover {
    color: #4e7d9f;
}
.content-other-data {
    margin-left: 50px;
}
.content_date {
    float: right;
    margin-right: 10px;
    color: rgb(119,120,122);

}
.post-nav-group {
    box-shadow: inset 1px 0 0 #e6e6e6;
    background: -webkit-linear-gradient(left,#f6f6f6 0,#fff 8px);

}
.post-nav-group, .post-nav-item {
    border-left: 2px solid transparent;
}
.post-nav-item {
    display: block;
    padding: 8px 12px;
    color: #888;
}
.post-nav-item:hover ,.actived{
    border-left: 2px solid #009a61 ;
    color: #333;
}
/* register page
 * 2014-03-02
 */
.reg-content .form-group , .reg-content input{
    height: 30px;
    border-radius: 0;
}
.reg-content .form-group {
    margin-top: 20px;
}
.reg-content button[type=submit] {
    margin-left: 80px;
}
.form-control {
    width: 200px;
    margin-left: 20px;
}
.share-form {
    padding-left: 10px;
    margin-right: 0px;
    position: absolute;
    right: 50%;
}
.search-input {
    margin-left: 0px;
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    width: 230px;
    box-shadow: none;
    border-radius: 0;
}
.btn-search {
    width: 45px;
    height: 30px;
    padding: 0;
    font-size: 12px;
}
.share-input, .input-iam, .input-name{
    margin-left: 0px;
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    width: 70px;
    box-shadow: none;
    border-radius: 0;
    left: 0;
    right: 0;
}
.input-name {
    width: 170px;
}
.share-input:focus, .input-iam:focus, .search-input:focus, .input-name:focus {
    box-shadow: none;
}
.input-name {
    margin-left: 10px;
}
.iam-input ,.input-name {
    display: none;
}
.share-btn {
    width: 45px;
    height: 30px;
    padding: 0;
    font-size: 12px;
}
.form-group {
    border: none;
}
.reg-content {
    margin-top: 30px;
}
.center {
    width: auto;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.advance-hover {
    width: 230px;
    height: 180px;;
    position: absolute;
    /* border: 1px solid gray; */
    z-index: 9999;
    margin-top: -4px;
    padding-top: 7px;
    padding-left: 10px;
    margin-left: -5px;
    display: none;
}
.header-nav {
    padding-left: 50px;
    padding-right: 111px;
}
.nav-menu {
    background: #e7f0f7;
    opacity: .95;
    position: fixed;
    z-index: 999;
    width: 100%;
}
.userName{
    position: absolute;
}
.user-link:hover {
    background: #FFF;
}
.user-items {
    height: 200px;
    border: 2px solid #D9D9D9;
    border-top: none;
    right: -2px;
    border-radius: 3px;
    width: 200px;
    position: absolute;
    display: none;
    background: #fff;
    z-index: 1;
}
.navbar {
    border-bottom: none;
}
.border {
    width: 133px;
    border: thin solid #E6E3E3;
}
.user-avatar img {
    width: 60px;
    height: 60px;
    float: left;
}
.separate {
    border: 1px solid red; 
    height: 40px;
    width: 2px;
    float: left;
    margin-top: 5px;
}
.go-top {
    position: fixed;
    width: 50px;
    height: 50px;
    display: none;
    bottom: 60px;
    right: 100px;
    border-radius: 10px;
    background-color: #B8B6B6;
}
.go-top span {
    width: 50px;
    display: block;
    color: #B8B;
    font-size: 35px;
    margin-top: 4px;
    margin-right: 8px;
    line-height: 40px;
    text-align: center; {}
}
.go-top:hover{
    background-color: rgb(196, 196, 212);
}

.show-select {
    cursor: pointer;
}
.show-select:hover {
   float: right;   
   box-shadow:  3px 3px 3px 0  rgb(113, 113, 128);  
   margin-right: 1px;
}
.logout {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
.pwd-note {
    /* float: left; */
    display: none;
}
.vote , .voted-up{
    cursor: pointer;
}
/* 替换 vote-up */
.vote{
    float: left;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 110%;
    border-radius: 3px;
    padding-top: 3px;
    margin-top: 3px;
    background-color: #eaf3f9;
    /* border: 1px solid red; */
}
.vote:hover {
    background-color: #def6ff;
}
.post-author-name {
    color: blue;
}

.vote-up, .post-author {
    float: left;
}
.post-author {
    margin-left: 15px;
}
.post-author a {
    color: rgb(119,120,122);
}
.post-author > a:hover {
    background-color: #ecf7fb;
}
.post-author-wrap {
    margin: 10px;
    width: 195px;
    height: 115px; 
}
.user-avata-msg {
    margin-top: -25px;
    float: right;
}
.user-avata-msg img {
    border-radius: 5px;
}
.author-motto {
    margin-bottom: 0;
}
.vote-num {
    /* border: 1px solid gray; */
    width: 50px;
    float: left;
}
.follow {
    margin-top: 10px;
    margin-left: 30px;
    width: 80px;
    height: 30px;
    text-align: center;
}
.author-wrap-top {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid gray;
}
.author-wrap-bottom {
    margin-top: 2px;
    border-top: 1px solid gray;
}
.author-motto {
    margin-top: 50px;
}
.post-author-detail {
    position: absolute;
}
.post-author-content span {
    /* margin-top: 25px; */
    float: left;
}
.post-author-content img {
    float: left;
}
.arrow {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -5px;
    border-left: 12px solid ;
    border-right: 12px solid ;
    border-bottom: 12px solid ;
    border-color:  transparent transparent rgb(106,154,201) transparent;
}
.post-author-content {
    position: absolute;
    margin-top: 7px;
    margin-left: -5px;
    border-radius: 4px;
    width: 220px;
    background-color: white;
    height: 160px;
    border: 1px solid #768def;
    /* z-index: 1; */
}
.form-ckeditor{
    width: 610px;
    height: 100px;
}
/* globel */
.g-sidebar {
    height: 700px;
    /* border-left: 1px solid gray; */
    margin-left: 45px;
    padding-left: 0;
}                                                 
.post-detail-title {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
.post-detail + hr {
    margin-top: 120px;
    width: 100%;
    float: left;
}
.change-detail {
    float: right;
}
.post-detail-word{
    float: left;
    height: auto;
}
.comment {
    float: left;
    width: 600px;
}
/* ---------------------------user center------------ */
.msg-name {
    margin-top: 80px;
    font-size: 24px;
    border-bottom: 1px solid gray;
}
.user-msg {
    height: auto;
    margin-top: 8px;
    border: 1px solid gray;
}
.user-msg-basic {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 300px;
    float: left;
}
.user-msg-left {
    width: 450px;
    float: left;
    border-right: 1px solid gray;
}
.user-msg-basic img {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 3px;
    margin-top: 10px;
}
.user-reg-time {
    float: left;
    margin-left: 30px;
}
.user-msg-bottom {
    float: left;
    margin-top: 50px;
}
.msg-up-num {
    margin-left: 40px;
    width: 50px;
    float: left;
    text-align: center;
    font-size: 25px;
    color: #009a61;
}
.sub-form {
    float: left;
    margin-top: 10px;
}
.sub-form input {
    margin-bottom: 10px;
}
.per-cate {
    background-color: rgb(229,59,102);
    border-radius: 4px;
    float: left;
    margin-top:5px;
    margin-right: 5px;
    font-size: 16px;
    color: #3b4146;
}
.sd-hot-role {
    float: left;
}
.user-avata-msg > img, .author-wrap-top > img {
    width: 40px;
    height: 40px;
}
